# Ambiente
NODE_ENV=development

# Banco de dados
DATABASE_URL = postgresql://usuario:senha@host:porta/database

# Autenticação Administrativa
ADMIN_USERNAME=troque-este-nome-em-producao
ADMIN_PASSWORD=troque-esta-chave-em-producao
JWT_SECRET=troque-esta-chave-em-producao

# WhatsApp Recepção
RECEPTION_WHATSAPP_PHONE=SEU_NUMERO_AQUI

# Link do Frontend
FRONTEND_URL=https://companhia-da-beleza.vercel.app

# Keep Alive - Render
KEEP_ALIVE_ENABLED=false
KEEP_ALIVE_URL=https://seu-backend.com
KEEP_ALIVE_INTERVAL=4
KEEP_ALIVE_START=6
KEEP_ALIVE_END=21
KEEP_ALIVE_WEEKDAYS=1-6
KEEP_ALIVE_TIMEZONE=America/Belem